@page "/"

@inject AuthService AuthService
@inject MessageService MessageService
@inject NavigationManager NavigationManager
@inject SettingsService SettingsService
@inject AppState AppState

@if (isLoading)
{
    <div id="splash-screen-white">
        <div class="spinner-black"></div>       
    </div>
}
else if (AppState.IsLoggedIn)
{
    <div></div> <!-- Questo blocco rimane vuoto, la navigazione sarà gestita dal codice -->
}
else
{
    <div class="container">
        <div class="card">
            <div class="card-header">
                Benvenuto!
            </div>
            <div class="card-body">
                <p>@Msg</p>
            </div>
            <div class="card-footer">
                <button class="btn" @onclick="GotoImpostazioni">
                    <i class="fas fa-plus"></i> Aggiungi
                </button>
            </div>
        </div>
    </div>
}

@code {
    private string Msg = string.Empty;
    private bool isLoading = true;  // Indica che i dati sono in fase di caricamento

    protected override async Task OnInitializedAsync()
    {
        var customer = SettingsService.GetCustomer()?.ToLower();

        if (string.IsNullOrEmpty(customer))
        {
            Msg = "Non hai associato nessun negozio";
            isLoading = false;
        }
        else
        {
            if (await AuthService.VerificaLogin())
            {
                if (!string.IsNullOrEmpty(SettingsService.GetSetting("SelectedCard")))
                {
                    NavigationManager.NavigateTo("/saldopunti");
                }
                else
                {
                    Msg = "Non hai associato nessuna fidelity card.";
                    isLoading = false;
                }
            }
            else
            {
                var risp = await AuthService.LoginAsync(customer, customer);

                if (risp)
                {
                    if (!string.IsNullOrEmpty(SettingsService.GetSetting("SelectedCard")))
                    {
                        NavigationManager.NavigateTo("/saldopunti");
                    }
                    else
                    {
                        Msg = "Non hai associato nessuna fidelity card.";
                        isLoading = false;
                    }
                }
                else
                {
                    await MessageService.ShowMessageAsync("Negozio non trovato");
                    Msg = "Spiacenti, il negozio non è stato trovato. Per favore, verifica e aggiorna le informazioni del negozio nelle impostazioni.";
                    isLoading = false;
                }
            }
        }
    }

    private void GotoImpostazioni()
    {
        NavigationManager.NavigateTo("/settings");
    }
}
