@page "/profile"

<div class="container">
    <div class="card">
        <div class="card-header">
            Informazioni Utente
        </div>
        <div class="card-body">
            Nome: John Doe<br />
            Email: john.doe@example.com
        </div>
        <div class="card-footer">
            <button class="btn btn-secondary">Modifica Profilo</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Impostazioni di Sicurezza
        </div>
        <div class="card-body">
            <p>Cambia la tua password o abilita l'autenticazione a due fattori.</p>
        </div>
        <div class="card-footer">
            <button class="btn">Cambia Password</button>
            <button class="btn btn-secondary">Autenticazione a due fattori</button>
        </div>
    </div>
</div>

